<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form action="/guestBook/addData" method="POST">
            <p><input type="text" name="author"></p>
            <p><textarea name="text"></textarea></p>
            <button type="submit">отправить</button>
        </form>
    </body>
</html>