<html>

<head>
    <title>List</title>
</head>

<body>
    <div style="margin:auto; max-width:800px;">
        <% for (let i = 0; i < guestBookItems.length; i++) { %>
        <div>
            <p>Автор: <%= guestBookItems[i].author %></p>
            <p>Текст: <%= guestBookItems[i].text %></p>
        </div>
        <% } %>
    </div>
</body>

</html>